body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 100%;
  border-width: 3px;
  border-color: white;
}

hr#hr_blue{
  border-color: #114065;
}

hr.light {
  border-color: white;
}

a {
  color: #fff;

  font-family: 'Roboto', sans-serif;

}

a:hover {
  color: #149dcc;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #114065 !important; 
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #165887;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #165887;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #165887;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #176091 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #165887;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #165887;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #165887;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/top-bg.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(17, 64, 101, .9019607843137255);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #114065 !important;
}

.btn {
  font-weight: 700;
  text-transform: none;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #114065;
  border-color: #114065;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #0D314D !important;
}

.btn-primary:active, .btn-primary:focus { 
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.7) !important;
}

/*SECTION SECRETARIAS*/
.secretariasClass {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #114065;
  background-color: #FFF;
}
.secretariasClass li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
}
.secretariasClass a{
  color: #FFF;
  font-size: 18px;
}
.secretariasClass a:hover{
  color: #149dcc !important;
  text-decoration: none;
}
.col-secretarias {
  background-color: #114065;
  padding-top: 20px;
  padding-bottom: 20px; 
}
/*END SECTION SECRETARIAS*/


/* COLUNA DE SERVIÇOS */
.coluna-servicos a {
  color: #fff;
}
.coluna-servicos a:hover {
  color: #149dcc;
  transition-duration: .3s;
  text-decoration: none;
}
.coluna-servicos li {
  margin-bottom: 5px;
}  



/* SECTION NOTICIAS*/

.sectionServicosNoticias {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #114065;
}

.sectionServicosNoticias li {
  list-style-type: none;
}

.sectionServicosNoticias p {
  color: black;
  text-align: justify;
  margin-top: 10px;
  font-family: 'roboto', sans-serif;
}

.sectionServicosNoticias h6 {
  color: black;
  margin-top: 10px;
  font-family: 'roboto', sans-serif;

}


.sectionServicosNoticias h5 {
  color: black;
  text-align: left;
  margin-top: 10px;
  font-family: 'roboto', sans-serif;

}

.sectionServicosNoticias h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  color: black !important;
}

.sectionServicosNoticias h4 {
  color: black;
  text-align: left;
  margin-top: 10px;
  font-family: 'roboto', sans-serif;

}

.sectionServicosNoticias h3 {
  color: black;
  margin-top: 10px;
  font-family: 'roboto', sans-serif;

}

.sectionServicosNoticias h2 {
  color: black;
  margin-top: 10px;
  font-family: 'roboto', sans-serif;

}

.sectionServicosNoticias h1 {
  color: black;
  margin-top: 10px;
  font-family: 'roboto', sans-serif;

}




/*END NOTICI*/
body{
  font-family: roboto;
}

.card-noticia{

  border-radius: 5px;
  background-color: white;
}

.card-noticia:hover{

  background-color: #CFD2D5;
  /* box-shadow: 10px 10px 15px black;*/
  transition-duration: 0.5s;
}

.card-noticia li {
  list-style-type: disc;
  color: #000 !important;
}

.card-noticia p{

  text-align: justify;
}

/*BOTAO NOTICIA*/

#btn-noticia {
  background-color: #fff;
 /* border-color: ;*/
  color: #114065;
}
/**/

/*busca-noticia*/

.busca-noticia a{
  color: #114065 !important; 
}

.busca-noticia a:hover{
  color: black !important;
}

/****TESTE*/.busca-noticia td:hover{

  background-color: #D4D4D4FF !important;

}

/**/


/*NOTICIA ESPECIFICA*/

.notiEspecifica h3{
 text-align: center;
 font-family: roboto;
 color: black;
}

.notiEspecifica h4{
 text-align: left;
 color: black;
 font-family: roboto;
 font-size: 15px;
}

.notiEspecifica h6{
 text-align: right;
 color: black;
 font-size: 14px;
}

.notiEspecifica p{
 text-align: justify;
 font-family: roboto;
 color: black;
}

.notiEspecifica img{
 /*box-shadow: 1px 1px 1px black;*/
}

.notiEspecifica img:hover{
 box-shadow: -5px 5px 5px black;
 transition-duration: 0.2s;
 text-decoration: none;
}

.notiEspecifica #img-2:hover{
 box-shadow: 5px 5px 5px black;
 transition-duration: 0.2s;
 text-decoration: none;
}

.notiEspecifica img{
 border:2px solid #999;
}

.notiEspecifica #img-2{
  border:2px solid #999;
}

.notiEspecifica #img-3{
 border:2px solid #999;
}

.notiEspecifica #img-3:hover{
 box-shadow: none;
 text-decoration: none;
}




/* LIGHTBOX */

.notiEspecifica .row > .column {
  padding: 0 8px;
}

.notiEspecifica .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.notiEspecifica .column {
  float: left;
  width: 25%;

}

/* The Modal (background) */
.notiEspecifica .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;

}

/* Modal Content */
.notiEspecifica .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 1000px;
}

/* The Close Button */
.notiEspecifica .close {
  color: white;
  position: right;
  margin-right: 50px;
  top: 10px;   
  font-size: 35px;
  font-weight: bold;
}

.notiEspecifica .close:hover,
.notiEspecifica .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.notiEspecifica .mySlides {
  display: none;
}

/* Next & previous buttons */
.notiEspecifica .prev,
.notiEspecifica .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black !important;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.notiEspecifica .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.notiEspecifica .prev:hover,
.notiEspecifica .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) 
.notiEspecifica .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* caption-side:  text */
.notiEspecifica .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.notiEspecifica img.demo {
  opacity: 0.6;
}

.notiEspecifica .active,
.notiEspecifica .demo:hover {
  opacity: 1;
}

.notiEspecifica img.hover-shadow {
  transition: 0.3s
}

.notiEspecifica .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

 /*FIM LIGHTBOX*/